/* General styling for the HTML and JSP files */

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    padding-top: 10%;
}

.input, .search-button {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.3em;
    width: 15em;
}

.input_box {
    display: flex;
    flex-direction: row;
}

.hint {
    visibility: hidden;
}

textarea:focus, input:focus{
    outline: none;
}

